/* Viewports */
$tablet-width: 768px;
$tablet-max-width: 1439px;
$desktop-width: 1440px;
$mobile-max-width: 767px;

/* Colors */
$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;
$bg-light: #f8f8f8;
$bg-flat-white: #f3ebe1;
$bg-lavender-latte: #eae6fc;
$bg-esspresso: #e5e6e8;
